html
  head
    title User Registration 

    link(rel='stylesheet', href='/dist/build.msg-register.min.css')

  block content
  .main.container
    .row
      .col-md-6.col-md-offset-3.success_msg_col
        h2.success_msg Registration Successfull !!
